section {
    padding: 54px 174px 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row {
    flex-direction: row;
}

.row_reverse {
    flex-direction: row-reverse;
}

.mobileimg {
    width: 250px;
}

.mobileinfo {
    display: flex;
    flex-direction: column;
    width: 480px;
}

.mh3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #fa4a0c;
}

.mh2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.mh4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
}