* {
    padding: 0;
    margin: 0 auto;
    font-size: 24px;
    text-align: center;
}

:root {
    --fColor: rgb(22, 74, 87);
    --sColor: rgb(255, 255, 255);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    height: 100vh; 
}

.headerStyle{
    background-image: url('https://media.istockphoto.com/photos/moraine-lake-picture-id525154857?k=20&m=525154857&s=612x612&w=0&h=xGEbqRl8b2f7AIs9a32o6FQWlCAwJ4MQUiO0YDF4PMU=');
    background-size: cover;
    color: var(--sColor);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 64px;
}

h4 {
    font-size: 24px;
}

.btn {
    border: 1px solid var(--sColor);
    border-radius: 10px;
    width: 150px;
    height: 50px;
    margin-top: 5%;
    text-align: center;
    line-height: 50px;
}

.btn:hover{
    background-color: var(--sColor);
    color:var(--fColor);
}

main{   
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article{
    padding: 1.5%;
}

main > article{
    width: 100%;
    height: 50%;
}

.mainArt1Style {
    color: var(--sColor);
    background-color: var(--fColor);
}

.mainArt2Style {
    color: var(--fColor);
    background-color: var(--sColor);
}

footer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer > article{
    height: 50%;
    text-align: left;
}

.footerArt1Style{
    color: var(--sColor);
    background-color: var(--fColor);
}

.footerArt2Style{
    color: var(--fColor);
    background-color: var(--sColor);
}