*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    --headerTextColor: rgb(125,125,125);
}

:root {
    --radius: 10px;
    --headerTextColor: rgb(125,125,125);
    --btnColor: rgb(100, 165, 225);
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    background-color: rgba(0, 175, 140, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 540px;
    width: 400px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.container_styles{
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    background-color: white;
 }

header{
    height: 60px;
}

.header_styles{
    border-radius: var(--radius) var(--radius) 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding-top: 15px;
    color: var(--headerTextColor)
}


.media_link-arrow{
    font-size: 12px;
    margin-right: -15px;
}

.media_link-arrow > a{
    color: var(--headerTextColor);
}

header > p {
    flex-basis: 33.33%;
    font-size: 12px;
    letter-spacing: -0.2px;
    font-weight: 500;
    text-align: center;
 }

.media_link-check{
    padding-right: 20px;
    flex-basis: 33.33%;
    text-align: right;
}

.media_link-check > a {
    font-size: 28px;
    color: var(--btnColor);
}

.user_img_container{
    /* width:fit-content; */
    width: 215px;
    height: 215px;
    margin: 0 auto;
    padding: 10px;
}

.user_img_container_styles{
    border-radius: 50%;
    border: 0.5px solid rgb(225,225,225);
    flex-basis: content;
    overflow: hidden;
}

.info_container_styles{
    color: rgb(96,96,96);
}

img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

h1{
    font-size: 28px;
    font-weight: 200;
    text-align: center;
    margin: 10px auto 10px;
    letter-spacing: -0.5px;
}

.artMain_styles{
    font-size: 11px;
    font-weight: 600;
    text-align: center;
    margin: 0px 75px;
    letter-spacing: -0.5px;
}

.btnFollow{
    width: 140px;
    height: 50px;
}

.btnFollow_styles{
    border-radius: var(--radius);
    background-color: var(--btnColor);
    color: white;
    margin: 40px auto 20px;
    display: flex;
    box-shadow: 0px 3px var(--headerTextColor);
}

.btnFollow > p{
    margin:auto;
    font-weight: 600;
}

footer{
    height: 80px;
}

.foot_styles{
    border-radius:  0px 0px var(--radius) var(--radius);
    display: flex;
    flex-direction: row;
    justify-content:center;
    background-color: rgb(20, 20, 75);
    align-items: center;
}

footer > section + section {
    border-right: 1px solid var(--headerTextColor);
    border-left: 1px solid var(--headerTextColor);
}

footer > section {
    flex-basis: 33.33%;
    color: var(--headerTextColor);
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100%;
}

footer a {
    color: var(--headerTextColor);
    font-size: 24px;
    flex-basis: 40%;
    padding-left: 15px; */
}

footer article {
    color: var(--headerTextColor);
    font-size: 12px;
    flex-basis: 60%;
    text-align: center;
}

footer p {
    color: rgba(255, 255, 255,0.8);
}





